<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Classification Prediction</title>
</head>
<body>
    <div class="login">
        <h1>Prediction of Water Potability</h1>
        <form action="{{url_for('prediction')}}" method="POST">
            <label for="water">Water samplae Received:</label>
            <input type="text" name="ph value" id="ph value" placeholder="ph value(0 to 14)" required>
            <input type="text" name="Hardness" id="Hardness" placeholder="Hardness(mg/L)" required>
            <input type="text" name="Solids" id="Solids" placeholder="Solids(ppm)" required>
            <input type="text" name="Chloramines" id="Chloramines" placeholder="Chloramines(ppm)" required>
            <input type="text" name="Sulfate" id="Sulfate" placeholder="Sulfate(mg/L)" required>
            <input type="text" name="Conductivity" id="Conductivity" placeholder="Conductivity(uS/cm)" required>
            <input type="text" name="Organic carbon" id="Organic carbon" placeholder="Organic carbon(ppm)" required>
            <input type="text" name="Trihalomethanes" id="Trihalomethanes" placeholder="Trihalomethanes(ug/L)" required>
            <input type="text" name="Turbidity" id="Turbidity" placeholder="Turbidity(NTU)" required>
            <center><input class="btn" type=submit name="submit_button" value=PREDICT></center>
        </form>
        <br>
        <br>
        {{prediction_text}}
    </div>
    
</body>
</html>